// fonts
:root{
    --site-primary-font: 'Avenir Next Cyr';
    --site-primary-font-normal: normal;
    --site-primary-font-medium: 500;
    --site-primary-font-bold: bold;
    --site-primary-font-Extra-bold: 900;

    --site-secondary-font: 'Sofia Sans Extra Condensed';
    --site-secondary-font-Semi-bold: 600;
    --site-secondary-font-bold: bold;
    --site-secondary-font-Extra-bold: 900;

    --site-third-font: 'Stratos';
    --site-third-font-Extra-bold: bold;
    --site-third-medium: 500;
}









// colors
:root{
    --site-primary-color: #CD1718;
    --site-primary-dark: #8E1920;
    --site-grey-type-primary: #EDECEA;
    --site-grey-type-primary-dark: #D3CEC1;
    --site-grey-type-primary-darker: #D6D2C8;
    --site-text-color: #000000;
    --start-page-content-organiser-base-height: 920px;
}

// grid breack points
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;
$xxlmin: 1280px;
$xxl: 1600px;

// grid gutter
$mobile-gutter: 10px;
 

