// tab mobile
@media screen and (max-width: ($xxlmin - 1px)) {

    .mt-relaunch{
        // basic
        .advertise-module{
            @include border-radius(5px);
        }
        .element-gap{
            &.element-gap-type-1{
                margin-bottom: 15px;
            }
            &.element-gap-type-2{
                margin-bottom: 10px;
            }
            &.element-gap-type-3{
                margin-bottom: 20px;
            }
            &.element-gap-type-4{
                margin-bottom: 30px;
            }
            &.element-gap-type-5{
                margin-bottom: 20px;
            }
            &.element-gap-type-6{
                margin-bottom: 100px;
            }
            &.element-gap-type-7{
                margin-bottom: 60px;
            }
            &.element-gap-type-8{
                margin-bottom: 30px;
            }
        }
        .section-mobile-gap-avg{
            margin-bottom: 35px;
        }
        .container, .container-fluid{
            padding-left: $mobile-gutter;
            padding-right: $mobile-gutter;
        }
        .mobile-x-padding-default{
            padding-left: 10px;
            padding-right: 10px;
        }
        .my-row{
            &.default-row{
                row-gap: $mobile-gutter;
                margin-left: -$mobile-gutter/2;
                margin-right: -$mobile-gutter/2;

                .adapt-height-default-grid{
                    row-gap: $mobile-gutter;
                    column-gap: $mobile-gutter;
                }

                &.mobile-lg-row-gap{
                    row-gap: 30px;
                    .adapt-height-default-grid{
                        row-gap: 30px;
                        column-gap: 30px;
                    }
                }
                &.mobile-md-row-gap{
                    row-gap: 14px;
                    .adapt-height-default-grid{
                        row-gap: 14px;
                        column-gap: 14px;
                    }
                }

                & > .my-col{
                    padding-left: $mobile-gutter/2;
                    padding-right: $mobile-gutter/2;
                }
            }
        }

        .set-back{
            &.gobal-mobile-set-back-img-visible{
                & > img{
                    display: block;
                    width: 100%;
                    height: auto;
                    opacity: 0;
                }
            }
        }

        .content-card{
            &.inset-pad-type-1{
                padding: 15px;
            }
        }

        .inset-pad-type-1{
            padding: 10px;
        }
        // basic

        // typography
        p{
            font-size: 14px;
            line-height: 25px;
        }
        h3{
            font-size: 30px;
            line-height: normal;
        }
        h6{
            font-size: 15px;
            line-height: normal;
            letter-spacing: 1.5px;
        }
        // typography

        // global-post-info
        .global-post-info{
            .entry{
                p{
                    font-size: 12px;
                }
            }
        }
        // global-post-info
        

        // site-btn
        .site-btn{
            font-size: 12px;
            padding: 13px 40px 13px 12px;
            line-height: 14px;
            background-size: 7.5px;
            background-position: right 12px center;

            &.video-outline-icon-dark{
                background-size: 12px !important;
            }
            &.gallery-icon-outline-dark{
                background-size: 20.37px !important;
            }
        }
        // site-btn
        // content-organiser-module-type-1
        .content-organiser-module-type-1{
            .base-height{
                height: 345px;
            }
        }
        // content-organiser-module-type-1
         

        // teaser-module
        .teaser-module{
            &.auto-height{
                .teaser-bild{
                    &.set-back{
                        &.img-adapt-no-height{
                            &.img-adapt-no-height-negative-mobile{
                                & > img{
                                    display: block;
                                }
                            }
                            
                        }
                    }
                }
            }
            &.desktop-min-height-1{
                min-height: 500px;
            }
            &.desktop-min-height-2{
                min-height: 500px;
            }

            .teaser-product-img{
                &.pos-2{
                    padding-bottom: 30px;
                }
               
            }
            .bottom-info{
                padding: 0 20px;
                bottom: 74px;

                p{
                    font-size: 14px;
                    line-height: 25px;
                }
            }
            .module-action-wrap{
                padding: 0 20px;
                bottom: 20px;
            }

            .match-vs{
                right: 20px;
                top: 20px;

                .vs{
                    font-size: 17px;
                }

                .team-dp{
                    img{
                        max-width: 50px;
                    }
                }
            }

            .teaser-title{
                transform-origin: left;
                &.pos-type-2{
                    padding-bottom: 70px;
                }
                &.pos-type-1{
                    padding-bottom: 70px;
                }
                &.pos-type-4{
                    padding: 50px 20px;
                    &.view-2{
                        padding: 25px 20px;
                    }
                }
                &.lg-size{
                    font-size: 25px;
                    line-height: 25px;
                }
                &.md-size{
                    font-size: 25px;
                    line-height: 25px;
                }
                
                &.md-less-size{
                    font-size: 25px;
                    line-height: normal;
                }
                &.pull-text-left{
                    .sub{
                        padding-left: 0px;
                        &.view-2{
                            padding-left: 0px;
                        }
                    } 
                }
                .sub{
                    font-size: 15px;
                    line-height: 21px;
                    & + span{
                        top: inherit;
                    }
                }
            }
        }
        // teaser-module
        // content-organiser-module-type-1
        .content-organiser-module-type-1{
            .inside-widget-box-5-item-height{
                height: auto;
            }
            .padding-bottom-gap{
                padding-bottom: 5px;
            }
            .padding-top-gap{
                padding-top: 5px;
            }
            .inset-box-padding-type-1{
                padding: 10px;
            }
            .margin-bottom-gap{
                margin-bottom: 10px;
            }
        }
        // content-organiser-module-type-1

        // news-listging-widget
        .news-listging-widget{
            .news-excerpt{
                width: 100%;
            }
            .news-title{
                font-size: 14px;
                line-height: 19px;
            }
            .news-thumb{
                width: 92px;
            }
        }
        // news-listging-widget

        // global-content-card
        .global-content-card{
            &.view-1{
                padding: 20px;
            }
        }
        // global-content-card

        // match-table
        .match-table{
            &.view-1{
                .match-schedule{
                    column-gap: 5px;
                    row-gap: 5px;
                }
                thead{
                    tr{
                        th{
                            font-size: 13px;
                        }
                    }
                }
                tbody{
                    tr{
                        td{
                            font-size: 13px;
                        }
                    }
                }
                &.mobile-view-1{
                    .mobile-match-date{
                        font-size: 10px;
                        text-align: center;
                        margin-bottom: 0;
                    }
                    tbody{
                        tr{
                            border: none;
                            &:last-child{
                                td{
                                    padding-bottom: 0px;
                                }
                            }
                        }
                        td{
                            padding: 0 0 30px 0;
                            font-size: 8px;
                            line-height: normal;
                        }
                    }
                    .match-schedule{
                        justify-content: center;

                        .team-info{
                            column-gap: 9px;
                            row-gap: 9px;

                            .team-dp{
                                img{
                                    max-width: 40px;
                                    height: auto;
                                }
                            }
                        }

                        

                        .match-timing{
                            column-gap: 5px;
                            row-gap: 5px;
                            flex-grow: 1;
                            justify-content: center;

                            

                            .time-separation{
                                font-size: 18px;
                                font-family: var(--site-secondary-font);
                                font-weight: var(--site-secondary-font-bold);
                                line-height: 30px;
                                min-width: 25px;
                                height: 30px;
                                @include border-radius(6px);
                                background-color: white;
                                text-align: center;
                            }

                            .time-box{
                                min-width: 25px;
                                height: 30px;
                                line-height: 30px;
                                font-size: 18px;
                                font-family: var(--site-secondary-font);
                                font-weight: var(--site-secondary-font-bold);
                                @include border-radius(6px);
                            }
                        }

                        
                    }
                }

                &.mobile-view-2{
                    &.layout-2{
                        thead{
                            tr{
                                th{
                                    min-width: inherit !important;
                                    padding: 10px;
                                    &.left-right-gap-creator{
                                        padding: 0 4px;
                                    }
                                    &.gap-creator{
                                        height: 5px;
                                    }
                                }
                            }
                        }
                        tbody{
                            tr{
                                td{
                                    padding: 10px;
                                    &.left-right-gap-creator{
                                        padding: 0 4px;
                                    }
                                    &.serial{
                                        font-size: 18px;
                                    }
                                }
                            }
                        }
                        .match-schedule{
                            .match-timing{
                                .time-separation{
                                    font-size: 13px;
                                    line-height: 27px;
                                }
                                .time-box{
                                    min-width: 27px;
                                    height: 27px;
                                    line-height: 27px;
                                    @include border-radius(5px);
                                    font-size: 13px;
                                }
                            }
                            .team-info{
                                column-gap: 10px;
                                row-gap: 10px;
                            }
                            .team-name{
                                font-size: 12px;
                            }

                            .team-dp img{
                                max-width: 30px;
                            }
                        }
                    }
                }


            } 
        }
        // match-table

        // global-tab-mobile-converted-slider
        .global-tab-mobile-converted-slider{
            .my-row{
                margin-left: 0px !important;
                margin-right: 0px !important;

                & > .my-col{
                    padding-left: 0px !important;
                    padding-right: 0px !important;
                }
            }
        }

        .global-carousel{
            &.global-carousel-type-1{
                padding-right: 100px;
                .slick-list{
                    overflow: inherit;
                }
            }
            .slick-list{
                margin-left: -6px;
                margin-right: -6px;
                .slick-slide{
                    padding-left: 6px;
                    padding-right: 6px;
                }
            }
        }

        .global-carousel-slider-navigate-wrap{
            .slider__counter{
                display: none;
            }

            .slider-arrow-holder{
                @include border-radius(8px);
                button{
                    width: 30px;
                    height: 30px;
                    background-size: 5.16px;
                    @include border-radius(8px);
                }
            }
        }
        // global-tab-mobile-converted-slider

        

       
        

        
        
        
    }
    
}
// tab mobile

// only tab
@media screen and (max-width: ($xxlmin - 1px)) and (min-width: $md) {
    .mt-relaunch{
        .only-tab-column-system{
            display: flex;
            flex-wrap: wrap;
            margin-left: -$mobile-gutter/2;
            margin-right: -$mobile-gutter/2;

            &.only-tab-two-column-system{
                & > .spl-col{
                    width: 50%;
                } 
            }

            & > .spl-col{
                padding-left: $mobile-gutter/2;
                padding-right: $mobile-gutter/2;
                &.flex-grow{
                    flex-grow: 1;
                }
            }
        }
        // content-organiser-module-type-1
        .content-organiser-module-type-1{
            .padding-bottom-gap{
                padding-bottom: 0px;
            }
            .padding-top-gap{
                padding-top: 0px;
            }

            .inside-widget-box{
                &.spl-col{
                    height: 100%;
                }
            }
            
        }
        // content-organiser-module-type-1

        // teaser-module
        .teaser-module{
            .teaser-title{
                &.pos-type-4{
                    padding: 85px 20px;
                }
            }

            .teaser-product-img{
                img{
                    max-width: 60%;
                }

                &.no-max-width{
                    img{
                        max-width: 100%;
                    }
                }
            }
        }
        // teaser-module
        
    }
}
// only tab