// fonts











// colors
:root{
    --site-primary-color: #CD1718;
    --site-primary-dark: #8E1920;
    --site-grey-type-primary: #EDECEA;
    --site-grey-type-primary-dark: #D3CEC1;
    --site-text-color: #000000;
}
 

